h2 Item description

p Looking for an immersive gaming experience that will transport you straight into the action? Look no further than Aimxy, the revolutionary head tracking product designed for gamers like you. With Aimxy, you can take your favorite games to the next level, including:

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/aimxy/add-3.jpg")
      img(src="images/products/aimxy/add-3.jpg"
        width="400"
        alt="AimXY on monitor edge")
    figcaption AimXY on monitor edge

p Flight Simulators: DCS (Digital Combat Simulation), Microsoft Flight Simulator 2020

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/aimxy/add-4.jpg")
      img(src="images/products/aimxy/add-4.jpg"
        width="400"
        alt="DCS Gameplay")
    figcaption DCS Gameplay

p Driving Simulators: Euro Truck Simulator, American Truck Simulator

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/aimxy/add-5.jpg")
      img(src="images/products/aimxy/add-5.jpg"
        width="400"
        alt="Euro Truck Simulation Gameplay")
    figcaption Euro Truck Simulation Gameplay

p Racing Simulators: Assetto Corsa, Assetto Competizione, Forza Horizon 4/5, F1 2010-2021

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/aimxy/add-6.jpg")
      img(src="images/products/aimxy/add-6.jpg"
        width="400"
        alt="Assetto Corsa Gameplay")
    figcaption Assetto Corsa Gameplay

p Featuring advanced AI-powered head tracking technology, Aimxy allows you to control your in-game movements simply by turning your head. Unlike other head tracking products, Aimxy doesn't require you to wear anything on your head. This means you can play your favorite games without any added weight or discomfort, and easily switch between gaming and other tasks.

p And with your privacy in mind, Aimxy will not upload any of your data anywhere. You can enjoy a fully immersive gaming experience without any concerns about your personal information being shared or used for other purposes.

p Plus, with the Z-Mouse application, Aimxy is accessible to vulnerable groups who may have difficulty using traditional input devices. Z-Mouse provides accessibility help, making it easier for everyone to enjoy the thrill of gaming.

p So why wait? Upgrade your gaming experience with Aimxy today and take your favorite games to the next level!

div.tm-wrapper
  figure.tm-ratio.tm-ratio-16-9
    iframe(
      src="https://www.youtube.com/embed/DwVLeAkz_ew"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen)

div.tm-wrapper
  figure.tm-ratio.tm-ratio-16-9
    iframe(
      src="https://www.youtube.com/embed/yKgoQsftVbU"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen)

div.tm-wrapper
  figure.tm-ratio.tm-ratio-16-9
    iframe(
      src="https://www.youtube.com/embed/MKRfnbeBW2g"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen)

h2 What's in package

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/aimxy/add-6.jpg")
      img(src="images/products/aimxy/add-6.jpg"
        width="400"
        alt="AimXY on monitor edge")
    figcaption AimXY on monitor edge

div.uk-margin-medium-bottom
