h2 Item description

p SimRacing Game LED Display RPM Analogous Tachometer

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/tb1.png")
            img(src="images/products/analoguerpm/tb1.png" width="500" alt="")

h3 Premium Sim Racing LED Display with Analog RPM Meter & LED Gear Indicator

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/review-1.png")
            img(src="images/products/analoguerpm/review-1.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/review2.png")
            img(src="images/products/analoguerpm/review2.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/review3.png")
            img(src="images/products/analoguerpm/review3.png" width="500" alt="")

p Elevate your sim racing experience with our top-of-the-line LED display, featuring an analog RPM meter and a digital gear number indicator. Designed for enthusiasts who demand precision and aesthetics, this versatile display can be customized for any racing game and setup. Perfectly blending style with functionality, it's the ultimate upgrade for your racing rig.

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/tb2.png")
            img(src="images/products/analoguerpm/tb2.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/tb3.png")
            img(src="images/products/analoguerpm/tb3.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/tb4.png")
            img(src="images/products/analoguerpm/tb4.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/tb5.png")
            img(src="images/products/analoguerpm/tb6.png" width="500" alt="")

p with Two buttons.

p Analogous Tachometer backgroud color programmable.

p LED display for numbers.

p left-top Light.

p for Sim Racing games.

div.tm-wrapper
    figure.tm-ratio.tm-ratio-16-9
        iframe(
            src="https://www.youtube.com/embed/ktycBIC36qM"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen)

h3 Key Features:

ul
    li Analog RPM Meter:
        p The primary display is an analog meter that provides real-time, smooth RPM readings, giving you a classic yet dynamic way to monitor your engine’s performance.

    li LED Gear Number Display:
        p The LED display beneath the meter clearly shows your current gear, while an additional light on the top left enhances visibility and adds to the sleek design.

    li Customizable Display Settings:
        p Tailor the look and feel of the display to your preference with adjustable background colors and styles via the software. Make it uniquely yours for a truly personalized racing experience.

    li Universal Compatibility:
        p This display is designed to work seamlessly with any game or racing setup. Whether you’re using it with a Thrustmaster, Logitech, or Fanatec system, it adapts easily to your needs.

    li Premium Build Quality:
        p Crafted with high-quality materials, the display is not only durable but also exudes a sophisticated aesthetic that complements any sim racing setup.

div.tm-wrapper
    figure.tm-ratio.tm-ratio-16-9
        iframe(
            src="https://www.youtube.com/embed/sCIskF1Qick"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen)

h3 Customer Reviews:

ul

    li "Exceptional Quality and Support:" “This is amazing! The RPM needle is incredibly smooth and the display looks stunning. The seller is very reliable and provided quick, helpful responses. Highly recommend!”

    li "Fast Shipping and Excellent Guidance:" “Super fast shipping, arrived the next day. The packaging was thorough and secure. The gauge feels premium and the RPM response is near-instant. The seller went above and beyond with remote and phone support, setting everything up perfectly for me. Outstanding service!”

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/photo1.jpg")
            img(src="images/products/analoguerpm/photo1.jpg" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/photo2.jpg")
            img(src="images/products/analoguerpm/photo2.jpg" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/analoguerpm/photo3.jpg")
            img(src="images/products/analoguerpm/photo3.jpg" width="500" alt="")

div.uk-margin-medium-bottom

