h2 Item description

p CXT VIA/QMK 4x3 Customizable RGB Keyboard with 4 Knobs for Simulation Games

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/layout_dcs.jpg")
      img(src="images/products/cxt12e4/layout_dcs.jpg"
        width="400"
        alt="Layout DCS")
    figcaption Layout DCS ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/layout_dcs_basic.jpg")
      img(src="images/products/cxt12e4/layout_dcs_basic.jpg"
        width="400"
        alt="Layout DCS Basic")
    figcaption Layout DCS Basic ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/layout_f16num.jpg")
      img(src="images/products/cxt12e4/layout_f16num.jpg"
        width="400"
        alt="Layout DCS F-16 NumPad")
    figcaption Layout DCS F-16 NumPad ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/layout_f18num.jpg")
      img(src="images/products/cxt12e4/layout_f18num.jpg"
        width="400"
        alt="Layout DCS F/A-18 NumPad")
    figcaption Layout DCS F/A-18 NumPad ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/layout_ga.jpg")
      img(src="images/products/cxt12e4/layout_ga.jpg"
        width="400"
        alt="Layout MSFS2020")
    figcaption Layout MSFS2020 ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/layout_ets2.jpg")
      img(src="images/products/cxt12e4/layout_ets2.jpg"
        width="400"
        alt="Layout ETS2")
    figcaption Layout ETS2 ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/layout_4runner.jpg")
      img(src="images/products/cxt12e4/layout_4runner.jpg"
        width="400"
        alt="Layout Sprintires Off-Road Simulation")
    figcaption Layout Sprintires Off-Road Simulation ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/layout_light_dcs_ga.jpg")
      img(src="images/products/cxt12e4/layout_light_dcs_ga.jpg"
        width="400"
        alt="Layout Light Ver - DCS/MSFS2020")
    figcaption Layout Light Ver - DCS/MSFS2020 ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/layout_light_ga_dcs.jpg")
      img(src="images/products/cxt12e4/layout_light_ga_dcs.jpg"
        width="400"
        alt="Layout Light Ver - MSFS2020/DCS")
    figcaption Layout Light Ver - MSFS2020/DCS ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/layout_media.jpg")
      img(src="images/products/cxt12e4/layout_media.jpg"
        width="400"
        alt="Layout Media Player(Sleep + Lock + Video + Foobar)")
    figcaption Layout Media Player(Sleep + Lock + Video + Foobar) ▲

p Upgrade your gaming experience with the VIA/QMK 4x3 Keyboard. Compact, customizable, and equipped with RGB lighting and rotary knobs, this keyboard is perfect for enhancing control in simulation games. Enjoy precision and visual flair in every session.

ul
  li Compact 4x3 Layout – Fits perfectly on any desk, providing a 4-column by 3-row grid for efficient use.
  li Three Rotary Knobs – Customizable knobs mimic turning actions, ideal for fine-tuning controls in games.
  li VIA-C Software Integration – Seamlessly customize your keyboard with VIA-C, a specialized version of the VIA app.
  li Full RGB Lighting – Enjoy vibrant, customizable lighting effects to match your gaming setup.
  li Game-Ready Keycaps – Designed specifically for flight and driving simulators like DCS, MSFS2020, X-Plane, ETS2, ATS, and MudRunner.
  li Versatile Knob Functions – Perfect for autopilot adjustments in flight sims and radio or speed controls in driving games.
  li Purple Axis Shaft – Features a smooth and tactile purple axis shaft, offering responsive and satisfying keystrokes.
  li Knobs compatible with MSFS 2020 - Auto pilot knob bindings e.g. SPD+/-, HDG +/-, Altitude/VS+/-
  li In DCS - compatible with Knobs like HDG+/-, CRS+/- etc.
  li In Euro Truck Simulator - compatible with knobs for Radio prev/next, radio volumes+/-, cruise speed+/-

h2 VIA-C Software Interface

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/cxt12e4/app-main.jpg")
      img(src="images/products/cxt12e4/app-main.jpg"
        width="400"
        alt="Software screenshot 1")
    figcaption Software screenshot 1

a(href='https://github.com/flight-simulator-australia/cxt-via-c-app-download/blob/main/VIA-C%20Setup%200.2.4-en-beta.zip')
  p Download VIA-C Setup 0.2.4-en-beta.zip

h3 RGB Demo:

div.tm-wrapper
  figure.tm-ratio.tm-ratio-16-9
    iframe(
      src="https://www.youtube.com/embed/oquNIHL-6QA"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen)

div.tm-wrapper
  figure.tm-ratio.tm-ratio-16-9
    iframe(
      src="https://www.youtube.com/embed/AXQoLWwNvCQ"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen)

div.uk-margin-medium-bottom
