h2 Item description

p Flight Simulation keypads with f-18/f-16 cockpit keypad layouts, DCS/MSFS2020 layouts, ETS/ATS Truck Simulator/Sprintires layouts.

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/kpx/dcs-large.jpg")
      img(src="images/products/kpx/dcs-large.jpg"
        width="400"
        alt="Layout DCS Modern Air Combat")
    figcaption Layout DCS Modern Air Combat ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/kpx/layout-f16num.jpg")
      img(src="images/products/kpx/layout-f16num.jpg"
        width="400"
        alt="Layout DCS F-16 NumPad")
    figcaption Layout DCS F-16 NumPad ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/kpx/layout-f-18num.jpg")
      img(src="images/products/kpx/layout-f-18num.jpg"
        width="400"
        alt="Layout DCS F/A-18 NumPad")
    figcaption Layout DCS F/A-18 NumPad ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/kpx/layout-msfs.jpg")
      img(src="images/products/kpx/layout-msfs.jpg"
        width="400"
        alt="Layout MSFS2020 - Microsoft Flight Simulation 2020")
    figcaption Layout MSFS2020 - Microsoft Flight Simulation 2020 ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/kpx/layout-ets.jpg")
      img(src="images/products/kpx/layout-ets.jpg"
        width="400"
        alt="Layout ETS2 - Euro Truck Simulation")
    figcaption Layout ETS2 - Euro Truck Simulation ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/kpx/layout-sprintires.jpg")
      img(src="images/products/kpx/layout-sprintires.jpg"
        width="400"
        alt="Layout Sprintires Off-Road Simulation")
    figcaption Layout Sprintires Off-Road Simulation ▲

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/kpx/layout-media.jpg")
      img(src="images/products/kpx/layout-media.jpg"
        width="400"
        alt="Layout Media Player(Sleep + Lock + Video + Foobar)")
    figcaption Layout Media Player(Sleep + Lock + Video + Foobar) ▲

p Flight Simulation Deck Panel - programmable keyboard with 4 Knobs.
ul
  li Flight Simulation compatible - MSFS 2020(Microsoft Flight Simulation 2020), XPlane 11/12, DCS World
  li Truck Simulator compatible - Euro Truck Simulator
  li Support customised key bindings, knob binding, macro, layered with Fn keys.
  li Customised and Progammable RGB lighting effects.
  li Customised and Progammable Colored Screen can personalised your Gaming images.
  li Knobs compatible with MSFS 2020 - Auto pilot knob bindings e.g. SPD+/-, HDG +/-, Altitude/VS+/-
  li In DCS - compatible with Knobs like HDG+/-, CRS+/- etc.
  li In Euro Truck Simulator - compatible with knobs for Radio prev/next, radio volumes+/-, cruise speed+/-
  li Key Shaft - Outemu Brown (Guangdong, CHINA)

h2 KPX Software

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/kpx/app-1.png")
      img(src="images/products/kpx/app-1.png"
        width="400"
        alt="Software screenshot 1")
    figcaption Software screenshot 1

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/kpx/app-2.png")
      img(src="images/products/kpx/app-2.png"
        width="400"
        alt="Software screenshot 2")
    figcaption Software screenshot 2

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/kpx/app-rgb.png")
      img(src="images/products/kpx/app-rgb.png"
        width="400"
        alt="Software screenshot 1")
    figcaption Software screenshot 1

div.uk-margin-medium-bottom
