h2 Item description

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/mfd/overview-1.jpg")
      img(src="images/products/mfd/overview-1.jpg"
        width="400"
        alt="MFD 45 degree")
    figcaption MFD 45 degree

p Enhance your flight simulation experience with this square LCD monitor, designed specifically for playing games like DCS. With the ability to display the 2 or 3 MFD screens found in F/A-18 or F-16 jets as extended monitors, you can achieve a more immersive and realistic gaming experience. The monitor boasts a high-quality TFT full-color screen with a resolution of 600x600 DPI.

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/mfd/overview-2.jpg")
      img(src="images/products/mfd/overview-2.jpg"
        width="400"
        alt="DCS scenario")
    figcaption DCS scenario

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/mfd/overview-3.jpg")
      img(src="images/products/mfd/overview-3.jpg"
        width="400"
        alt="MSFS2020 scenario")
    figcaption MSFS2020 scenario

p This monitor is fully compatible with Thrustmaster's MFD Cougar Pack, featuring two exact mount screw holes that allow for seamless integration into your existing setup. Additionally, the monitor's base features four additional screw holes for easy and secure mounting to your desk or stand, ensuring stability during gameplay.

p With its standard HDMI video interface, this monitor is easy to connect to any device. Most modern graphics cards support up to four monitor displays, making it an ideal addition to any gaming setup.

p In addition to its ability to display MFD screens, this monitor can display anything you drag into the window. For example, you can use it to display MSFS2020's instrument views, a music player, or even play a sports game in a small window while multitasking.

p Don't settle for a subpar flight simulation experience. Upgrade your setup with this high-quality square LCD monitor and take your gaming to new heights.

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/mfd/1-add-12.jpg")
      img(src="images/products/mfd/1-add-12.jpg"
        width="1000"
        alt="DDI samples")
    figcaption DDI samples

div.tm-wrapper
  figure.tm-ratio.tm-ratio-16-9
    iframe(
      src="https://www.youtube.com/embed/MKRfnbeBW2g"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen)

div.tm-wrapper
  figure.tm-ratio.tm-ratio-16-9
    iframe(
      src="https://www.youtube.com/embed/yBXinqyyDpc"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen)

h2 Thrustmaster MFD Cougar Pack Install

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/mfd/1-add-5-large.jpg")
      img(src="images/products/mfd/1-add-5-large.jpg"
        width="400"
        alt="Thrustmaster MFD Cougar Pack Install")
    figcaption Thrustmaster MFD Cougar Pack Install

h2 Mount Options

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/mfd/1-add-6-large.jpg")
      img(src="images/products/mfd/1-add-6-large.jpg"
        width="400"
        alt="Mount Option 1 - Desk Mount")
    figcaption Mount Option 1 - Desk Mount

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/mfd/1-add-7-large.jpg")
      img(src="images/products/mfd/1-add-7-large.jpg"
        width="400"
        alt="Mount Option 2 - Back Panel")
    figcaption Mount Option 2 - Back Panel

h2 What's in package

div.tm-wrapper.uk-text-center
  figure
    a(href="images/products/mfd/1-add-2-large.jpg")
      img(src="images/products/mfd/1-add-2-large.jpg"
        width="400"
        alt="What's in package")
    figcaption What's in package

div.uk-margin-medium-bottom
