h2 Item description

p MiraBox 293S StreamDock Visual Keyboard LCD Button 15 Keys Live Content Creation Controller Custom Button For Windows/MacOS

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/main.jpg")
            img(src="images/products/mirabox293s/main.jpg" width="500" alt="")

p Customised launch/idle screen.

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/defstart.jpg")
            img(src="images/products/mirabox293s/defstart.jpg" width="500" alt="")

p DCS plugins and programmable keys. With marcos and lua scripts it can takes data from DCS gameplay and show dynamic status on your LCD buttons.

p Note that the profile is NOT compatible with StreamDeck profiles. So, you can't simply import DCS profiles. You have to programme your keys from the scratch!

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/ets2.jpg")
            img(src="images/products/mirabox293s/ets2.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/dcs.jpg")
            img(src="images/products/mirabox293s/dcs.jpg" width="500" alt="")

p Many and more plugins and icons to expect:

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/app-main293s.jpg")
            img(src="images/products/mirabox293s/app-main293s.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/iconlib-4in1.jpg")
            img(src="images/products/mirabox293s/iconlib-4in1.jpg" width="500" alt="")

p Other uses: streaming, designer, Office/Adobe software shortcuts and more:

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/info.jpg")
            img(src="images/products/mirabox293s/info.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/web.jpg")
            img(src="images/products/mirabox293s/web.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/win.jpg")
            img(src="images/products/mirabox293s/win.jpg" width="500" alt="")

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/music.jpg")
            img(src="images/products/mirabox293s/music.jpg" width="500" alt="")

p Device and stand:

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/stand.jpg")
            img(src="images/products/mirabox293s/stand.jpg" width="500" alt="")

p What is in the package:

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/mirabox293s/inpack.jpg")
            img(src="images/products/mirabox293s/inpack.jpg" width="500" alt="")

h4 DCS F/A-18C Plugin Configurations

div.tm-wrapper
    figure.tm-ratio.tm-ratio-16-9
        iframe(
            src="https://www.youtube.com/embed/CfnIQL-ZDGI"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen)

h4 Unboxing video:

div.tm-wrapper
    figure.tm-ratio.tm-ratio-16-9
        iframe(
            src="https://www.youtube.com/embed/v0k9H_Hwkm4"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen)

div.uk-margin-medium-bottom

