h2 Item description

p Thrustmaster T300 steering wheel shifter paddle mod enhancement

p Upgrade your Thrustmaster T300 with our premium shifter paddles mod, designed to enhance your sim racing experience with precision, power, and superior quality. Easy to install and built to last, these paddles offer a satisfying tactile feedback with every shift.

div.tm-wrapper
    figure.tm-ratio.tm-ratio-16-9
        iframe(
            src="https://www.youtube.com/embed/yNgoWkkeTgw"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen)

h3 Key Features:
p

ul
    li Perfect Fit & Crisp Clicks:
        p Custom-designed to fit seamlessly with the Thrustmaster T300, providing a sharp, satisfying click sound with every gear shift.

    li Enhanced Feel & Robust Feedback:
        p Features high-quality imported permanent magnets, with increased size and thickness for a powerful and precise shifting experience.

    li Quick Installation & Strong Adhesion:
        p Utilizes 3M textured adhesive backing for a secure and easy installation, ensuring the paddles stay firmly in place during intense racing sessions.

    li Premium Quality – No Shortcuts:
        p Our high-grade materials and meticulous craftsmanship surpass cheaper alternatives, offering you a product that is both durable and high-performing.

    li Designed for Serious Racers:
        p Focused on quality and detail, our products are tailored for racing enthusiasts who demand the best in performance and reliability.

div.tm-wrapper
    figure.tm-ratio.tm-ratio-16-9
        iframe(
            src="https://www.youtube.com/embed/VYLvH8iK4Vk"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen)

h3 Old Model vs New Model

h4 Old Model - 3M Adherence

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/tb-old4.png")
            img(src="images/products/t300shifter/tb-old4.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/tb-old3.png")
            img(src="images/products/t300shifter/tb-old3.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/tb-old1.png")
            img(src="images/products/t300shifter/tb-old1.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/tb-old2.png")
            img(src="images/products/t300shifter/tb-old2.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/photo1.jpg")
            img(src="images/products/t300shifter/photo1.jpg" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/photo2.jpg")
            img(src="images/products/t300shifter/photo2.jpg" width="500" alt="")

h4 New Model - Lossless Installation with screws

div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/review-new1.png")
            img(src="images/products/t300shifter/review-new1.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/review-new2.png")
            img(src="images/products/t300shifter/review-new2.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/review-new3.png")
            img(src="images/products/t300shifter/review-new3.png" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/photo1-new.jpg")
            img(src="images/products/t300shifter/photo1-new.jpg" width="500" alt="")
div.tm-wrapper.uk-text-center
    figure
        a(href="images/products/t300shifter/photo2-new.jpg")
            img(src="images/products/t300shifter/photo2-new.jpg" width="500" alt="")

div.uk-margin-medium-bottom

