extends /layouts/_informational

block vars
  -
    page = {
      title: 'Contacts',
      breadcrumbs: {}
    }

    informationalActivePage = 2

block informational
  article(class="uk-card " +
                "uk-card-default " +
                "uk-card-small " +
                "uk-card-body " +
                "uk-article " +
                "tm-ignore-container")

    div(class="uk-child-width-1-1 uk-child-width-1-2@s uk-margin-top"
            uk-grid)

      section
        h3 Store
        ul.uk-list
          li
            a.uk-link-heading(href="#")
              +icon("discord")(class="uk-margin-small-right")
              span.tm-pseudo= shopInfo.discordDesc
          li
            a.uk-link-heading(href="#")
              +icon("mail")(class="uk-margin-small-right")
              span.tm-pseudo= shopInfo.email
          li
            div
              +icon("location")(class="uk-margin-small-right")
              span!= shopInfo.address
          li
            div
              +icon("clock")(class="uk-margin-small-right")
              span= shopInfo.openingHours

      section
        h3 Feedback
        dl.uk-description-list
          dt Add new 3x4 keyboard layout you\'d like to have
          dd: a.uk-link-muted(href=shopInfo.addIssueKeyboardLayout) or via Discord/Email
          dt Add general feedbacks
          dd: a.uk-link-muted(href=shopInfo.addIssueFeedbacks) or via Discord/Email
          dt Discord or Email
          dd: a.uk-link-muted(href="#") #{shopInfo.email}
