extends /layouts/_pages

block vars
  -
    product = products[5];

    page = {
      title: product.name,
      breadcrumbs: {
        'Catalog': 'catalog.html',
        'Flight Simulation': 'category_flight.html',
      }
    }

block pages
  div.uk-grid-medium.uk-child-width-1-1(uk-grid)

    //- Product
    div
      div.uk-card.uk-card-default.uk-card-small.tm-ignore-container
        div.uk-grid-small.uk-grid-collapse.uk-grid-match(uk-grid)

          //- Media
          div(class="uk-width-1-1 uk-width-expand@m")
            div.uk-grid-collapse.uk-child-width-1-1(
              uk-slideshow="finite: true; ratio: 4:3;"
              uk-grid)

              //- Primary image
              div
                ul.uk-slideshow-items(uk-lightbox)
                  li
                    if product.image
                      a.uk-card-body.tm-media-box.tm-media-box-zoom(href= product.image.large)
                        figure.tm-media-box-wrap
                          img(src= product.image.large alt= product.name)
                    else
                      figure.tm-media-box-wrap
                        +icon("image", "5")(class="uk-text-muted")
                  if product.additionalImages
                    each additionalImage in product.additionalImages
                      li
                        a.uk-card-body.tm-media-box.tm-media-box-zoom(href= additionalImage.large)
                          figure.tm-media-box-wrap
                            img(src= additionalImage.large alt= product.name)

              //- Additional images
              if product.additionalImages
                div
                  div.uk-card-body.uk-flex.uk-flex-center
                    div(class="uk-width-1-2 uk-visible@s")
                      div(uk-slider="finite: true")
                        div.uk-position-relative
                          div.uk-slider-container
                            ul.tm-slider-items.uk-slider-items.uk-child-width-1-4.uk-grid.uk-grid-small
                              li(uk-slideshow-item="0")
                                div.tm-ratio.tm-ratio-1-1
                                  a.tm-media-box.tm-media-box-frame
                                    figure.tm-media-box-wrap
                                      img(src= product.image.small alt= product.name)

                              each additionalImage, index in product.additionalImages
                                li(uk-slideshow-item= index + 1)
                                  div.tm-ratio.tm-ratio-1-1
                                    a.tm-media-box.tm-media-box-frame(href="#")
                                      figure.tm-media-box-wrap
                                        img(src= additionalImage.small alt= product.name)

                            div
                              a.uk-position-center-left-out.uk-position-small(
                                href="#"
                                uk-slider-item="previous"
                                uk-slidenav-previous)
                              a.uk-position-center-right-out.uk-position-small(
                                href="#"
                                uk-slider-item="next"
                                uk-slidenav-next)

                    ul(class="uk-slideshow-nav uk-dotnav uk-hidden@s")

          //- Info
          div(class="uk-width-1-1 uk-width-1-3@m tm-product-info")
            div.uk-card-body

              //- Brand
              div
                a(href= product.brand.href title= product.brand.name)
                  img(src= product.brand.image alt= product.brand.name style="height: 40px;")

              //- Rating & Statuses
              div.uk-margin
                div.uk-grid-small(uk-grid)

                  //- Rating
                  div.uk-flex.uk-flex-middle
                    ul.uk-iconnav.uk-margin-xsmall-bottom.tm-rating
                      +rating(product.feedbackRate)
                    div.uk-margin-xsmall-left
                      a.uk-text-meta.js-scroll-to-description(
                        href="#description"
                        onclick="UIkit.switcher('.js-product-switcher').show(3);") (#{product.feedbackCount})

                  //- Statuses
                  if product.statuses
                    div
                      each status in product.statuses
                        case status
                          when "new"
                            span.uk-label.uk-label-success.uk-margin-xsmall-right= status
                          when "top selling"
                            span.uk-label.uk-label-warning.uk-margin-xsmall-right= status
                          when "mike's pick"
                            span.uk-label.uk-label-danger.uk-margin-xsmall-right= status
                          default
                            span.uk-label= status

              //- Variations
              if product.statuses
                div.uk-margin
                  div.uk-grid-medium(uk-grid)
                    each variation in product.variations
                      div
                        div.uk-text-small.uk-margin-xsmall-bottom= variation.name
                        ul.uk-subnav.uk-subnav-pill.tm-variations(uk-switcher)
                          each value in variation.values
                            li
                              if variation.name === "Color"
                                a.tm-variation-color(uk-tooltip= value.name)
                                  div(style="background-color: " + value.value)
                              else
                                a= value.name

              //- Shop
              div.uk-margin
                div.uk-padding-small.uk-background-primary-lighten.uk-border-rounded
                  div.uk-grid-small.uk-child-width-1-1(uk-grid)

                    //- Prices
                    div
                      if product.isNotAvailable
                        div.uk-text-muted Product not available
                      else
                        if product.isOnSale
                          del.uk-text-meta= product.oldPrice
                          div.tm-product-price= product.price
                        else
                          div.tm-product-price= product.price

                    //- Add to cart
                    if !product.isNotAvailable
                      div
                        div.uk-grid-small(uk-grid)

                          div
                            if product.availableItem > 5
                              p In Stock
                            else
                              p #{product.availableItem} Items Left

              //- Delivery info
              div.uk-margin
                div.uk-padding-small.uk-background-muted.uk-border-rounded
                  div.uk-grid-small.uk-child-width-1-1.uk-text-small(uk-grid)

                    // Amazon
                    div
                      div.uk-grid-collapse(uk-grid)
                        +icon("cart")(class="uk-margin-xsmall-right")
                        div
                          a.uk-text-bolder(href=product.amazonLink) Buy from Amazon
                          div.uk-text-xsmall.uk-text-muted In stock, free postage, 3-10 days in Australia

                    div
                      div.uk-grid-collapse(uk-grid)
                        +icon("cart")(class="uk-margin-xsmall-right")
                        div
                          a.uk-text-bolder(href=product.ebayLink) Buy from eBay
                          div.uk-text-xsmall.uk-text-muted In stock, free postage, 3-10 days in Australia

                    //- Buy from store
                    div
                      div.uk-grid-collapse(uk-grid)
                        +icon("bag")(class="uk-margin-xsmall-right")
                        +icon("discord")(class="uk-margin-xsmall-right")
                        div
                          a.uk-text-bolder(href=shopInfo.discord) Buy from our store with 90% OFF
                          div.uk-text-xsmall.uk-text-muted via Discord, In stock, free postage, 3-10 days

                    div
                      div.uk-grid-collapse(uk-grid)
                        +icon("bag")(class="uk-margin-xsmall-right")
                        +icon("mail")(class="uk-margin-xsmall-right")
                        div
                          div.uk-text-bolder Buy from our store with 90% OFF
                          div.uk-text-xsmall.uk-text-muted via Email, In stock, free postage, 3-10 days

              //- Properties
              div.uk-margin
                if product.properties
                  ul.uk-list.uk-text-small.uk-margin-remove
                    for value, property in product.properties
                      li
                        span.uk-text-muted= property + ": "
                        span!= value
                  div.uk-margin-small-top
                    a.uk-link-heading.js-scroll-to-description(
                      href="#description"
                      onclick="UIkit.switcher('.js-product-switcher').show(1);")
                      span.tm-pseudo Detailed specifications
                      +icon("chevron-down", ".75")(class="uk-margin-xsmall-left")

          //- Description
          div#description.uk-width-1-1.tm-product-description

            header
              nav.tm-product-nav(
                uk-sticky="offset: 60; " +
                          "bottom: #description; " +
                          "cls-active: tm-product-nav-fixed;")
                ul.uk-subnav.uk-subnav-pill.js-product-switcher(
                  uk-switcher="connect: .js-tabs")
                  li: a.js-scroll-to-description(href="#description") Overview
                  li: a.js-scroll-to-description(href="#description") Specifications
                  li: a.js-scroll-to-description(href="#description") Q&A
                  li: a.js-scroll-to-description(href="#description") What's in package
                  li: a.js-scroll-to-description(href="#description") Reviews
                    |
                    |
                    span (#{product.reviews.length})

            div.uk-card-body
              div.uk-switcher.js-product-switcher.js-tabs

                //- Overview
                section
                  article.uk-article
                    div.uk-article-body
                      +article-link(product.article)

                //- Specifications
                section
                  each group in product.specifications
                    h2= group.name
                    table.uk-table.uk-table-divider.uk-table-justify.uk-table-responsive
                      each value, property in group.properties
                        tr
                          th.uk-width-medium= property
                          td.uk-table-expand!= value

                //- Q&A
                section
                  ul.uk-list-divider.uk-list-large(uk-accordion="multiple: true")
                    each question in product.questions
                      li
                        a.uk-accordion-title(href="#")= question.question
                        div.uk-accordion-content= question.answer

                //- What's in package
                section
                  each group in product.inPackage
                    h2= group.name
                    table.uk-table.uk-table-divider.uk-table-justify.uk-table-responsive
                      each value, property in group.properties
                        tr
                          th.uk-width-medium= property
                          td.uk-table-expand!= value

                //- Reviews
                section
                  if product.reviews
                    div.uk-grid-small.uk-grid-divider(uk-grid)

                      div(class="uk-width-1-1 " +
                                    "uk-width-1-5@s " +
                                    "uk-text-center " +
                                    "tm-reviews-column")
                        div.uk-text-meta.uk-text-uppercase average rating
                        div.uk-heading-primary #{product.feedbackRate}
                        div.uk-flex.uk-flex-center
                          ul.uk-iconnav.tm-rating
                            +rating(product.feedbackRate)
                        div.uk-margin-small-top.uk-text-meta based on #{product.feedbackCount} reviews

                      div(class="uk-width-1-1 " +
                                    "uk-width-expand@s")
                        div.uk-grid-small.uk-grid-divider.uk-child-width-1-1(uk-grid)
                          each review in product.reviews
                            article
                              section.uk-grid-small.uk-child-width-1-1(uk-grid)

                                header
                                  div.uk-h4.uk-margin-remove= review.author
                                  time.uk-text-meta= review.date

                                div
                                  ul.uk-iconnav.uk-margin-bottom.tm-rating
                                    li: +icon("star")(class="uk-text-warning")
                                    li: +icon("star")(class="uk-text-warning")
                                    li: +icon("star")(class="uk-text-warning")
                                    li: +icon("star")(class="uk-text-warning")
                                    li: +icon("star")(class="uk-text-warning")

                                  div!= review.text

    // Related items
    section
      div(uk-slider="finite: true")

        div.uk-grid-small.uk-flex-middle.uk-margin-bottom(uk-grid)
          h2.uk-width-expand(class="uk-text-center uk-text-left@s") Related Products
          div(class="uk-visible@s")
            a.tm-slidenav(href="#" uk-slider-item="previous" uk-slidenav-previous)
            a.tm-slidenav(href="#" uk-slider-item="next" uk-slidenav-next)

        div
          div.uk-card.uk-card-default.uk-card-small.tm-ignore-container
            div.uk-position-relative
              div.uk-slider-container
                div(class="uk-slider-items " +
                          "uk-grid-collapse " +
                          "uk-child-width-1-3 " +
                          "uk-child-width-1-4@m " +
                          "tm-products-grid")
                  each relatedProduct in products
                    if(relatedProduct.id !== product.id)
                      +product(relatedProduct)

          ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin-top(class="uk-hidden@s")

