
h2 Chart In General

h4 Key Bindings

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/bvr/step1_key_undesignate.png"
                width="750"
                alt="step1_key_undesignate")
        figcaption Step 1 - key_undesignate

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/bvr/step2_key_radar_elevation.png"
                width="750"
                alt="step2_key_radar_elevation")
        figcaption Step 2 - Key Radar elevation

h4 TDC Range

ul
    li At Top + 20 k feet
    li At Bottom + 7 k feet

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/bvr/step3_tdc_range.png",
                width="400"
                class="mfd-width")
        figcaption Step 3 - TDC range

h4 Change Elevation Coverage of Radar

p 2B 1: Remember 1 Bar is About 1.3 Degrees.

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/bvr/step4_elevation_coverage.png",
                width="400"
                class="mfd-width")
        figcaption Step 4 - Elevation Coverage

h4 Three BVR Modes
h5 RWS - incl. STT (L&amp;S)(Support For AIM-7 &amp; AIM-120)

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/bvr/step5_bvr_m1_rws.png", width="400" class="mfd-width")
    figcaption RWS - incl. STT (L&S)(Support For AIM-7 & AIM-120)

h5 RWS + LTWS (Tracks)
    ul
        li VIEW TRACK FILE (No Fire Support)
        li L&S TRACK FILE (No Fire Support) STAR
        li DT2 TRACK FILE (No Fire Support) DIAMOND

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/bvr/step5_bvr_m2_rws_ltws.png", width="400" class="mfd-width")

h5 TWS
    ul
        li incl. STT (L&S)(Support For AIM-7 & AIM-120)
        p or
        li VIEW TRACK FILE (No Fire Support)
        li L&S TRACK FILE (Support For AIM-120) STAR
        li DT2 TRACK FILE (Support For AIM-120) DIAMOND

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/bvr/step5_bvr_m3_tws.png", width="400" class="mfd-width")

h4 Tutorial Source

div.tm-wrapper
    figure.tm-ratio.tm-ratio-16-9
        iframe(
            src="https://www.youtube.com/embed/J7JCI3_L0JE"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen)

    p From 6:16, it's about departure procedure
