
h2 MiraBox 293/293S Unboxing

h4 Videos:

p MiraBox 293/293S StreamDeck Visual Keyboard LCD Button 15 Keys Live Content Creation Controller Custom Button For Windows/MacOS Gift

h5 Model 293

div.tm-wrapper
    figure.tm-ratio.tm-ratio-16-9
        iframe(
            src="https://www.youtube.com/embed/VkU5IyHgzGA"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen)

h5 Model 293S (smaller but with side screen)

div.tm-wrapper
    figure.tm-ratio.tm-ratio-16-9
        iframe(
            src="https://www.youtube.com/embed/v0k9H_Hwkm4"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen)
