
h2 Simagic TB-1 Handbrake Unboxing

h4 Videos:

div.tm-wrapper
    figure.tm-ratio.tm-ratio-16-9
        iframe(
            src="https://www.youtube.com/embed/8vwC86iPiLw"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen)

h4 Images:

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/simagictb1/simgaic-unbox-1.jpg"
                width="750"
                alt="simgaic-unbox")

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/simagictb1/simgaic-unbox-2.jpg"
                width="750"
                alt="simgaic-unbox")

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/simagictb1/simgaic-unbox-3.jpg"
                width="750"
                alt="simgaic-unbox")

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/simagictb1/simgaic-unbox-4.jpg"
                width="750"
                alt="simgaic-unbox")

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/simagictb1/simgaic-unbox-5.jpg"
                width="750"
                alt="simgaic-unbox")

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/simagictb1/simgaic-unbox-6.jpg"
                width="750"
                alt="simgaic-unbox")

div.tm-wrapper.uk-text-center
    figure
        a(href="#")
            img(src="images/articles/simagictb1/simgaic-unbox-7.jpg"
                width="750"
                alt="simgaic-unbox")